<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
	<title>Animations</title>
	<link rel="stylesheet" th:href="@{/webjars/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css}" />
	<script type="text/javascript" th:src="@{/webjars/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js}" />
<script>
	
$('document').ready(function(){
	$('.colorpicker-component').colorpicker({
	      useAlpha: false,
	      fallbackColor: this.getElementsByTagName('input')[0].value,
	      component: '.badge'
    }).on('changeColor', function(e) {
		e.target.getElementsByClassName('badge')[0].innerHTML = e.color.toHex();
    });
	
	$("#togglebutton").click(function() { 
	    $(".form-control").toggle();
	});
});
	
</script>
</head>
<body>
	<div class="container" layout:fragment="content">
		<h1 th:text="'Edit ' + ${animation.name}">Edit animation</h1>
		<div class="button-group"><button id="togglebutton" class="btn btn-sm" onclick="toggleInputs()">Toggle inputs</button></div>
		<table class="table">
			<tbody>
				<tr th:each="frame: ${animation.frames}">
					<td th:each="pixel: ${frame.pixels}">
						<div th:id="'cp_panel_' + ${frame.id} + '_' + ${pixel.id}" class="container colorpicker-component">
							<span th:id="'label_' + ${frame.id} + '_' + ${pixel.id}" class="badge" th:text="${pixel.toHexString()}" style="display: inline-block">100</span>
							<input th:id="${frame.id} + '_' + ${pixel.id}" type="text" class="form-control" th:value="${pixel.toHexString()}" style="display: none" />
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>