<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<title>Animations</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<h1 th:text="'Edit ' + ${animation.name}">Edit animation</h1>
		<table class="table">
			<tbody>
				<tr th:each="frame: ${animation.frames}">
					<td th:each="pixel: ${frame.pixels}" th:text="${pixel}">Color picker</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>